<div class="header navbar">
  <div class="header-container">
    <ul class="nav-left">
      <li>
        <span class="count-station">{{title}}
          <!-- <i class="fa fa-caret-down pdd-left-5 location-selector"></i> -->
        </span>
      </li>
      <!-- <button data-toggle="modal" data-target="#default-modal" class="btn btn-sm btn-primary" style="position: absolute; z-index: 100000;">Trigger Welcome Modal</button> -->
    </ul>

    <ul class="nav-right">
      <li class="user-profile dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <img class="profile-img img-fluid" src="../../../assets/img/user.jpg" alt="">
          <div class="user-info">
            <span class="name pdd-right-5">{{ displayName || " Unknown User" }}</span>
            <i class="fa fa-caret-down font-size-10"></i>
          </div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="account-settings">
              <i class="fa fa-cog pdd-right-10"></i>
              <span>Settings</span>
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a (click)="logout()" href="javascript:void(0);">
              <i class="fa fa-power-off pdd-right-10"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>