.modal-right .modal-dialog, .modal-left .modal-dialog {
    width: 700px;
}

.generate-sku {
    position: absolute;
    right: 15px;
    top: 34px;
    z-index: 1000;
    padding: 5px;
}

textarea.form-control {
    min-height: 10px;
}