@font-face {
    font-family: 'Avenir Next';
    src: local('../fonts/custom-font/Avenir Next Regular'), local('../fonts/custom-font/AvenirNext-Regular'),
        url('../fonts/custom-font/AvenirNext-Regular.woff2') format('woff2'),
        url('../fonts/custom-font/AvenirNext-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('../fonts/custom-font/Avenir Next Medium'), local('../fonts/custom-font/AvenirNext-Medium'),
        url('../fonts/custom-font/AvenirNext-Medium.woff2') format('woff2'),
        url('../fonts/custom-font/AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('../fonts/custom-font/Avenir Next Demi Bold'), local('../fonts/custom-font/AvenirNext-DemiBold'),
        url('../fonts/custom-font/AvenirNext-DemiBold.woff2') format('woff2'),
        url('../fonts/custom-font/AvenirNext-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
