<div class="modal slide-in-right modal-right fade " id="side-modal-r-view">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="side-modal-wrapper">
        <div class="vertical-align">
          <div class="table-cell">
            <div class="pdd-horizon-15">

              <div class="form-group row">
                <div class="col-md-12">
                  <!-- <label for="form-1-4" class="control-label">Product Photo</label> -->
                  <img class="img-thumbnail" src="../../../assets/img/products/sandwich.png" width="200px" />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <h4>Sandwich</h4>
                  <p class="mrg-btm-15 font-size-13">Sandwich made from finest wheat bread and ham from The Armah Farms, the largest farm in the world spanning
                    33M acres.</p>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="form-1-2" class="control-label">SKU: </label>
                  <span>
                    <b>sand-11002</b>
                  </span>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="form-1-3" class="control-label">Price: </label>
                  <span>
                    <b>¢8.00</b>
                  </span>
                </div>
                <div class="col-md-6">
                  <label for="form-1-4" class="control-label">Quantity: </label>
                  <span>
                    <b>212</b>
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <a class="btn btn-primary" href="">Add Product</a> -->
        </div>
      </div>
    </div>
  </div>
</div>