/* You can add global styles to this file, and also import other style files */
.count-station {
    padding: 0 15px;
    line-height: 65px;
    min-height: 65px;
    color: #888da8;
    display: block;
    font-size: 20px;
    font-style: bold;
}

.location-selector {
    font-size: 14px;
}